<section id="about" class="blurb">
    <h2>About</h2>
    <p>{{ description }}</p>
    <ul class="actions">
        <li><a href="/assets/pdf/Brian-Ferry-Resume-2019.pdf" class="button">Resume</a></li>
        <li><a href="/contact" class="button">Contact Me</a></li>
    </ul>
</section>