<a class="image featured"><img class="image fit" src="{{this.banner_image}}" alt="banner_alt" /></a>
<form name="contact" netlify>
    <div class="row">
        <div class="col-6 col-x12-xsmall">
            <input type="text" name="name" placeholder="Your Name" />
        </div>
        <div class="col-6 col-x12-xsmall">
            <input type="email" name="your-email" value="" size="40" aria-required="true" aria-invalid="false"
                placeholder="Your Email" />
        </div>
        <div class="col-12" style="padding-top: 1em">
            <textarea name="your-message" cols="40" rows="6" aria-required="true" aria-invalid="false"
                placeholder="Your Message"></textarea>
        </div>
        <div class="col-12" style="padding-top: 1em">
            <button type="submit">Send Message</button>
        </div>
    </div>
</form>