<!DOCTYPE HTML>
<html>

<head>
	<title>{{ title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link href="/assets/css/prism.css" rel="stylesheet" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156509104-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-156509104-1');
	</script>

	 <script defer
		data-project-id='16426330'
		data-project-path='brianferry/brianzferry-com'
		data-mr-url='https://gitlab.com'
		id='review-app-toolbar-script'
		src='https://gitlab.com/assets/webpack/visual_review_toolbar.js'></script> 
</head>

<body class="is-preload">
