<!-- Intro -->
<section id="intro">
    <a href="#" class="logo"><img src="/assets/images/bf-image.jpg" alt="" /></a>
    <header>
        <h2>{{ author_name }}</h2>
        <p>{{ author_blurb }}</p>
    </header>
</section>