<section id="footer">
    <ul class="icons">
        <li><a target="_blank" href="https://github.com/brianferry" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/brianferry1/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
    </ul>
</section>