<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<body>
    <app-root></app-root>

</html>
<script type="text/javascript" src="/assets/js/{{srcFolder}}/inline.bundle.js"></script>
<script type="text/javascript" src="/assets/js/{{srcFolder}}/polyfills.bundle.js"></script>
<script type="text/javascript" src="/assets/js/{{srcFolder}}/styles.bundle.js"></script>
<script type="text/javascript" src="/assets/js/{{srcFolder}}/vendor.bundle.js"></script>
<script type="text/javascript" src="/assets/js/{{srcFolder}}/main.bundle.js"></script>';
 
