{{> 'header'}}

<!-- Wrapper -->
<div id="wrapper">

	{{> 'navigation' }}

	<!-- Menu -->
	<section id="menu">

		<!-- Search -->
		<section>
			<form class="search" method="get" action="#">
				<input type="text" name="query" placeholder="Search" />
			</form>
		</section>

		<!-- Links -->
		<section>
			<ul class="links">
				<li>
					<a href="#">
						<h3>Lorem ipsum</h3>
						<p>Feugiat tempus veroeros dolor</p>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>Dolor sit amet</h3>
						<p>Sed vitae justo condimentum</p>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>Feugiat veroeros</h3>
						<p>Phasellus sed ultricies mi congue</p>
					</a>
				</li>
				<li>
					<a href="#">
						<h3>Etiam sed consequat</h3>
						<p>Porta lectus amet ultricies</p>
					</a>
				</li>
			</ul>
		</section>

		<!-- Actions -->
		<section>
			<ul class="actions stacked">
				<li><a href="#" class="button large fit">Log In</a></li>
			</ul>
		</section>

	</section>

	<!-- Main -->
	<div id="main">
		{{#each pagination.files }}
		{{> 'home_page_posts'}}
		{{/each}}

		<!-- Pagination -->
		<ul class="actions pagination">
			<li><a href="/{{pagination.previous.path}}" {{#if pagination.previous}} class="button large previous"
					{{else}} class="disabled button large previous" {{/if}}>Previous Page</a></li>
			<li><a href="/{{pagination.next.path}}" {{#if pagination.next}} class="button large next" {{else}}
					class="disabled button large next" {{/if}}>Next Page</a></li>
		</ul>
	</div>

	<!-- Sidebar -->
	<section id="sidebar">

		{{> 'intro'}}

		{{> 'about_me'}}

		<!-- Footer -->
		{{> 'social_media'}}

	</section>

</div>
{{> 'footer'}}