{{#each pagination.files }}
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="{{this.path}}">{{this.title}}</a></h2>
            </div>
            <div class="meta">
                <time class="published" datetime="{{this.date}}">{{this.date}}</time>
                <a class="author"><span class="name">{{this.author_name}}</span><img src="/assets/images/bf-image.jpg" alt="{{this.author_name}}" /></a>
            </div>
        </header>
        <a href="{{this.path}}" class="image featured"><img class="image fit" src="{{this.banner_image}}" alt="banner_alt" /></a>
        {{{ excerpt this.contents }}}
        <footer>
            <ul class="actions">
                <li><a href="{{this.path}}" class="button large">Continue Reading</a></li>
            </ul>
            <ul class="stats">
                {{#each tags}}
                <li>
                        {{{this}}}
                </li>
                {{/each}}
                <ul></ul>
            </ul>
        </footer>
    </article>
{{/each}}