{{> 'header'}}

		<!-- Wrapper -->
			<div id="wrapper">

			{{> 'navigation' }}

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="#">
											<h3>Lorem ipsum</h3>
											<p>Feugiat tempus veroeros dolor</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Dolor sit amet</h3>
											<p>Sed vitae justo condimentum</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Feugiat veroeros</h3>
											<p>Phasellus sed ultricies mi congue</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Etiam sed consequat</h3>
											<p>Porta lectus amet ultricies</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="#" class="button large fit">Log In</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<article class="post">
							<header>
								<div class="title">
									<h2><a>{{this.title}}</a></h2>
								</div>
								<div class="meta">
									<time class="published" datetime="{{this.date}}">{{this.date}}</time>
									<a class="author"><span class="name">{{this.author_name}}</span><img src="/assets/images/bf-image.jpg" alt="{{this.author_name}}" /></a>
								</div>
							</header>
							<a href="/{{this.path}}" class="image featured"><img class="image fit" src="{{this.banner_image}}" alt="banner_alt" /></a>
							{{ safeString contents }}
							<footer>
								<ul class="actions">
								</ul>
								<ul class="stats">
									{{#each tags}}
									<li>
											{{{this}}}
									</li>
									{{/each}}
									<ul></ul>
								</ul>
							
							</footer>
						</article>

						<!-- Pagination -->
						<ul class="actions pagination">
							<li><a href="/" class="button large previous">Back Home</a></li>
						</ul>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						{{> 'intro'}}

						{{> 'about_me'}}

						<!-- Footer -->
						{{> 'social_media'}}

					</section>

			</div>
{{> 'footer'}}
